+b.modal.mfp-hide#skype
    +e.cont
        +e.box
            +e.title.h2 Skype

            +e.SPAN.lil-title Логин:
            +e.block
                +e.A.text.copy-skype-content live:c4acedf324e5590e
                +e.BUTTON.copy.copy-skype копировать

            +e.SPAN.lil-title Позвонить:
            +e.A.link(href="skype:live:c4acedf324e5590e" target="_self")
                +icon("skype")

+b.modal.mfp-hide#mail
    +e.cont
        +e.box
            +e.title.h2 Mail

            +e.SPAN.lil-title Адрес:
            +e.block
                +e.A.text.copy-content ernest.shelyag@gmail.com
                +e.BUTTON.copy.copy копировать

            +e.SPAN.lil-title Написать:
            +e.A.link(href="mailto:ernest.shelyag@gmail.com" target="_self")
                +icon("mail")

+b.modal.mfp-hide#phone
    +e.cont
        +e.box
            +e.title.h2 Телефон

            +e.SPAN.lil-title_phone +7 (902) 139-03-79

            +e.SPAN.lil-title Позвонить:
            +e.A.link(href="tel:+79021390379" target="_self")
                +icon("phone")

// - - -

+b.modal.p-modal.mfp-hide#fregat
    +b.portfolio-modal
        +e.cont
            +e.img-block
                figure
                    img(src="img/fregat.jpg")
            +e.info-block
                +e.H1.title Fregat2
                +e.P.text Сайт компании Фрегат2. Верстка без адаптива. (в работе)
                +e.link-block
                    +e.A.link(href="https://ernestshelyag.github.io/Fregat2/index.html") Демо Сайт
                    +e.A.link(href="https://github.com/ernestshelyag/fregat2") Исходники

+b.modal.p-modal.mfp-hide#shust
    +b.portfolio-modal
        +e.cont
            +e.img-block
                figure
                    img(src="img/shust.jpg")
            +e.info-block
                +e.H1.title Shust
                +e.P.text Личный сайт психолога Ольги Шуст. Верстка, адаптив. Сайт находится в разработке бекенда.
                +e.link-block
                    +e.A.link(href="https://ernestshelyag.github.io/shust/index.html") Демо Сайт
                    +e.A.link(href="https://github.com/ernestshelyag/shust") Исходники

+b.modal.p-modal.mfp-hide#coin
    +b.portfolio-modal
        +e.cont
            +e.img-block
                figure
                    img(src="img/coin.jpg")
            +e.info-block
                +e.H1.title CisCoinLab
                +e.P.text Сайт для компании по страхованию биткоинов. Верстка, адаптив + 3D-анимации.
                +e.link-block
                    +e.A.link(href="https://ernestshelyag.github.io/coin/index.html") Демо Сайт
                    +e.A.link(href="https://github.com/ernestshelyag/CisCoinLab") Исходники

+b.modal.p-modal.mfp-hide#taxi
    +b.portfolio-modal
        +e.cont
            +e.img-block
                figure
                    img(src="img/taxi.jpg")
            +e.info-block
                +e.H1.title Проспект-Такси
                +e.P.text Одностраничный сайт для компании по аренде такси бизнес-класса. Верстка, адаптив, создание различных анимаций.
                +e.link-block
                    +e.A.link(href="http://prospekt-taxi.ru/") Сайт
                    +e.A.link(href="https://github.com/ernestshelyag/prospect-taxi") Исходники

+b.modal.p-modal.mfp-hide#sept
    +b.portfolio-modal
        +e.cont
            +e.img-block
                figure
                    img(src="img/sept.jpg")
            +e.info-block
                +e.H1.title Строительные экосистемы
                +e.P.text Сайт компании по установке септиков. Совместная работа с другим frontend-разработчиком. Делал верстку и приложение "тест" на JS.
                +e.link-block
                    +e.A.link(href="https://stroekos.ru/") Сайт
                    +e.A.link(href="https://github.com/ernestshelyag/stroekos") Исходники

+b.modal.p-modal.mfp-hide#rus
    +b.portfolio-modal
        +e.cont
            +e.img-block
                figure
                    img(src="img/rus.jpg")
            +e.info-block
                +e.H1.title Rusforprof
                +e.P.text Веб-ресурс для обучению русскому языку представителей иностранных компаний. Верстка, адаптив.
                +e.link-block
                    +e.A.link(href="http://rusforprof.org/") Сайт
                    +e.A.link(href="https://github.com/ernestshelyag/rusforprof") Исходники

+b.modal.p-modal.mfp-hide#sea
    +b.portfolio-modal
        +e.cont
            +e.img-block
                figure
                    img(src="img/sea.jpg")
            +e.info-block
                +e.H1.title Seafood
                +e.P.text Универсальный каталог-шаблон для сайта компании по продаже морепродуктов. Верстка, адаптив.
                +e.link-block
                    +e.A.link(href="https://ernestshelyag.github.io/seafood/index.html") Демо Сайт
                    +e.A.link(href="https://github.com/ernestshelyag/seafood") Исходники

+b.modal.p-modal.mfp-hide#opetta
    +b.portfolio-modal
        +e.cont
            +e.img-block
                figure
                    img(src="img/opetta.jpg")
            +e.info-block
                +e.H1.title Apetta
                +e.P.text Первый крупный сайт. Федеральная сеть химчисток Apetta. Сайт делался очень давно. Верстка, адаптив.
                +e.link-block
                    +e.A.link(href="http://apetta.ru/") Сайт
                    +e.A.link(href="https://github.com/ernestshelyag/apetta") Исходники

+b.modal.p-modal.mfp-hide#rem
    +b.portfolio-modal
        +e.cont
            +e.img-block
                figure
                    img(src="img/rem.jpg")
            +e.info-block
                +e.H1.title Рем-Тех
                +e.P.text Сайт компании по ремонту различных устройств- мобильных телефонов, ноутбуков и пр. Верстка, адаптив.
                +e.link-block
                    +e.A.link(href="http://remtechspb.ru/") Сайт
                    +e.A.link(href="https://github.com/ernestshelyag/remtech") Исходники

+b.modal.p-modal.mfp-hide#logo
    +b.portfolio-modal
        +e.cont
            +e.img-block
                figure
                    img(src="img/logo.jpg")
            +e.info-block
                +e.H1.title 3D Logo
                +e.P.text Анимированный 3D логотип для компании. (Three.js)
                +e.link-block
                    +e.A.link(href="#") Демо
                    +e.A.link(href="") Исходники

+b.modal.p-modal.mfp-hide#fit
    +b.portfolio-modal
        +e.cont
            +e.img-block
                figure
                    img(src="img/fit.jpg")
            +e.info-block
                +e.H1.title Perfectsport
                +e.P.text Интернет магазин по продаже спортивного питания. Верстка, адаптив. (доступ к исходникам ограничен)
                +e.link-block
                    +e.A.link(href="https://perfectsport.ru/") Сайт

+b.modal.p-modal.mfp-hide#ajax
    +b.portfolio-modal
        +e.cont
            +e.img-block
                figure
                    img(src="img/ajax.jpg")
            +e.info-block
                +e.H1.title Ajax
                +e.P.text Это просто тестовое задание, которое я выполнял очень давно. Переход по страницам без перезагрузки с помощью PHP и Ajax. (исходники где-то затерялись, сложно будет найти)
                +e.link-block
                    +e.A.link(href="https://shelyageric.000webhostapp.com/index") Демо


