extends _assets/template

block title
    title main

block content
    +b.MAIN.main
        span#elem
        +b.SECTION.hero
            h1.visually-hidden Ernest Shelyag
            +e.DIV.inside-block
                +e.DIV.text-block
                    +e.DIV.text-top
                        +e.SPAN.decore-name
                            | ern
                            span.hero__decore-name_es es
                            | t sh
                            span.hero__decore-name_e e
                            | lyag
                        +e.SPAN.title
                            | Ernest Shelyag
                            span Frontend
                            | developer
                    +e.DIV.quote-block
                        +e.SPAN.quote
                            | "Art should be something that liberates the soul, provokes the imagination
                            br
                            | and encourages people to go further."
                        +e.SPAN.quote-author Keith Haring
                    +e.DIV.btn-block
                        +e.A.btn(href="#")
                        +e.SPAN.btn-text works
        +b.SECTION.about
            h1.visually-hidden About me
            +e.DIV.wrp.wrp
                +e.SPAN.title.title
                    span A
                    | bout me
                +e.P.text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium recusandae, ea eveniet molestias itaque exercitationem magnam mollitia? Dolorum doloribus officia obcaecati aut expedita animi, odit quaerat tempora fuga dicta non qui in similique velit nam illo reiciendis adipisci, vero magnam, voluptate ut reprehenderit. Numquam fugiat explicabo repellat libero unde modi vero, beatae omnis ex tenetur, iure, doloremque inventore. Quidem delectus error veritatis sit, itaque alias voluptates nobis nisi quisquam eveniet incidunt nemo magni, rerum corporis veniam molestiae qui esse maiores, aut enim recusandae tenetur? Animi totam quidem ab quam, quaerat fugit, saepe fuga officia qui quis iure, sint deleniti iste!

                +exp-icon()

                +b.DIV.exp-list
                    +e.BUTTON.btn Show list
                    +e.content
                        +e.UL.list
                            +e.LI.item HTML5
                            +e.LI.item CSS3
                            +e.LI.item BEM
                            +e.LI.item Gulp
                            +e.LI.item Pug
                            +e.LI.item Sass
                            +e.LI.item Git
                        +e.UL.list
                            +e.LI.item JavaScript (ES5, ES6)
                            +e.LI.item jQuery
                            +e.LI.item Canvas
                            +e.LI.item WebGL (three.js, PixiJS)
                            +e.LI.item Bootstrap
                            +e.LI.item SVG
                            +e.LI.item UI/UX
                        +e.UL.list
                            +e.LI.item Webpack
                            +e.LI.item Node.js
                            +e.LI.item Ajax
                            +e.LI.item React
                            +e.LI.item WordPress
                            +e.LI.item PHP
                            +e.LI.item Photoshop
        +b.SECTION.works
            h1.visually-hidden Works
            +e.DIV.wrp.wrp
                +e.SPAN.title.title
                    | W
                    span o
                    | rks
                +e.P.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto autem dolore eaque excepturi inventore magni officia sequi sunt totam voluptatum. Iste praesentium voluptates voluptatum. Alias consequuntur culpa debitis, deleniti ducimus ea earum excepturi fuga labore laudantium magni maxime nostrum odio officiis recusandae, reiciendis repellendus reprehenderit repudiandae veniam vitae, voluptates?
                +e.DIV.content-block

                    +e.DIV.item.works__item_rem
                        +e.SPAN.description # site for repairing phones and other devices
                        +e.A.link(href="https://remtechspb.ru")
                            +e.SPAN.link-text www.remtechspb.ru
                            +e.DIV.img-block
                                +e.IMG.img(src="img/works/remtech.jpg")
                                +e.IMG.img(src="img/works/remtech2.jpg")
                        +e.A.download-link.download-link(href="#" title="download-code")

                    +e.DIV.item.works__item_taxi
                        +e.SPAN.description # site for a company to rent elite taxi
                        +e.A.download-link.download-link(href="#" title="download-code")
                        +e.A.link(href="http://prospekt-taxi.ru")
                            +e.SPAN.link-text www.prospekt-taxi.ru
                            +e.DIV.img-block
                                +e.IMG.img(src="img/works/taxi.jpg")
                                +e.IMG.img(src="img/works/taxi2.jpg")
                                +e.IMG.img(src="img/works/taxi3.jpg")

                    +e.DIV.item.works__item_rus
                        +e.SPAN.description # project for studying the Russian language for foreigners
                        +e.A.link(href="http://rusforprof.org/")
                            +e.SPAN.link-text www.rusforprof.org
                            +e.DIV.img-block
                                +e.IMG.img(src="img/works/rus.jpg")
                                +e.IMG.img(src="img/works/rus2.jpg")
                        +e.A.download-link.download-link(href="#" title="download-code")

                    +e.DIV.item.works__item_bit
                        +e.SPAN.description
                            | # project of the site for insurance bitcoin
                            br
                            | (coming soon, now in the development of the backend)
                        +e.A.link(href="#")
                            +e.SPAN.link-text www.bitcoin.ru
                            +e.DIV.img-block
                                +e.IMG.img(src="img/works/bitcoin.jpg")
                                +e.IMG.img(src="img/works/bitcoin2.jpg")
                                +e.IMG.img(src="img/works/bitcoin3.jpg")
                                +e.IMG.img(src="img/works/bitcoin4.jpg")
                                +e.IMG.img(src="img/works/bitcoin5.jpg")
                                +e.IMG.img(src="img/works/bitcoin6.jpg")
                        +e.A.download-link.download-link(href="#" title="download-code")

                    +e.DIV.item.works__item_3dlogo
                        +e.SPAN.description # animated 3d logo for a website development company
                        +e.A.link(href="#")
                            +e.SPAN.link-text www.logo.io
                            +e.DIV.img-block
                                +e.IMG.img(src="img/works/logo.jpg")
                        +e.A.download-link.download-link(href="#" title="download-code")

                +e.DIV.other-works
                    +b.DIV.other-works
                        +e.H2.title
                            | Other projects that I did or took part in dev
                            span.let e
                            | loping
                        +e.UL.list
                            +e.LI.item
                                +e.A.download-link.download-link(href="#" title="download-code")
                                +e.A.link(href="https://stroekos.ru/")
                                    span stroekos.ru
                                    | Site for the company for the installation of sewer equipment
                            +e.LI.item
                                +e.A.download-link.download-link(href="#" title="download-code")
                                +e.A.link(href="#")
                                    span Вася,ру
                                    | Seafood product catalog (in development)
                            +e.LI.item
                                +e.A.link(href="http://apetta.ru/")
                                    span apetta.ru
                                    | Dry cleaning company
                            +e.LI.item
                                +e.A.link(href="http://implant-smeds.ru")
                                    span implant-smeds.ru
                                    | Site for Implantology center
                            +e.LI.item
                                +e.A.download-link.download-link(href="#" title="download-code")
                                +e.A.link(href="https://shelyageric.000webhostapp.com/index")
                                    span merpasa.io
                                    | Test page - example of using Ajax

                        +e.SPAN.title.other-works__title_temp My template
                        +e.UL.list
                            +e.LI.item
                                +e.A.download-link.download-link(href="#" title="download-code")
                                +e.A.link(href="#")
                                    span extended-templ.io
                                    | My template
                            +e.LI.item
                                +e.A.download-link.download-link(href="#" title="download-code")
                                +e.A.link(href="#")
                                    span small-template.io
                                    | small-temp

        +b.SECTION.contacts
            h1.visually-hidden Contacts
            +e.DIV.wrp.wrp
                +e.SPAN.title.title
                    | Co
                    span n
                    | tacts

                +social-icon()




















