mixin exp-icon()
	+b.DIV.exp-icon
		+e.H2.title What I think about my experience
		+e.DIV.block
			+e.SPAN.level senyor-level:
			+e.UL.list
				+e.LI.item
					+e.A.link(href="https://en.wikipedia.org/wiki/HTML5")
						img(src="img/svg/html.svg", style="width: 73px", alt="html5", title="HTML5")
				+e.LI.item
					+e.A.link(href="https://en.wikipedia.org/wiki/Cascading_Style_Sheets")
						img(src="img/svg/css.svg", style="width: 73px", alt="css3", title="CSS3")
				+e.LI.item
					+e.A.link(href="https://en.bem.info") BEM
				+e.LI.item
					+e.A.link(href="https://gulpjs.com")
						img(src="img/svg/gulp.svg", style="width: 60px", alt="gulp", title="GULP")
				+e.LI.item
					+e.A.link.exp-icon__link_pug(href="https://pugjs.org/api/getting-started.html")
						img(src="img/svg/pug.svg", style="width: 100px", alt="pug", title="PUG")
						span pug
				+e.LI.item
					+e.A.link(href="http://sass-lang.com")
						img(src="img/svg/ass.svg", style="width: 100px", alt="sass", title="SASS")
				+e.LI.item
					+e.A.link(href="https://git-scm.com")
						img(src="img/svg/git.svg", style="width: 90px", alt="git", title="git")
			+e.SPAN.level middle-level:
			+e.UL.list
				+e.LI.item
					+e.A.link(href="https://en.wikipedia.org/wiki/JavaScript" style="color: yellow; letter-spacing: 0") JavaScript
						span (ES5, ES6)
				+e.LI.item
					+e.A.link(href="https://jquery.com")
						img(src="img/svg/jquery.png", style="width: 90px", alt="jQuery", title="jQuery")
				+e.LI.item
					+e.A.link(href="https://en.wikipedia.org/wiki/Canvas_element") Canvas
				+e.LI.item
					+e.A.link(href="https://en.wikipedia.org/wiki/WebGL" style="color: #cd0000")
						img(src="img/svg/webgl.svg", style="width: 130px", alt="WebGl", title="WebGl")
						span(style="top: 5.3em") (three.js, PixiJS)
				+e.LI.item
					+e.A.link(href="https://getbootstrap.com")
						img(src="img/svg/bootstrap.svg", style="width: 80px", alt="Bootstrap", title="Bootstrap")
				+e.LI.item
					+e.A.link(href="https://en.wikipedia.org/wiki/Scalable_Vector_Graphics") SVG
				+e.LI.item
					+e.A.link(href="https://asinthecity.com/2011/11/10/the-difference-between-a-ux-designer-and-ui-developer") UI/UX
			+e.SPAN.level junior-level:
			+e.UL.list
				+e.LI.item
					+e.A.link(href="https://webpack.js.org")
						img(src="img/svg/webpack.svg", style="width: 80px", alt="Webpack", title="Webpack")
				+e.LI.item
					+e.A.link(href="https://nodejs.org/en")
						img(src="img/svg/nodejs.svg", style="width: 120px", alt="NodeJs", title="NodeJs")
				+e.LI.item
					+e.A.link(href="https://en.wikipedia.org/wiki/Ajax_(programming)") Ajax
				+e.LI.item
					+e.A.link(href="https://reactjs.org")
						img(src="img/svg/react.svg", style="width: 80px", alt="React", title="React")
				+e.LI.item
					+e.A.link(href="https://wordpress.com")
						img(src="img/svg/wordpress.svg", style="width: 80px", alt="WordPress", title="WordPress")
				+e.LI.item
					+e.A.link(href="https://en.wikipedia.org/wiki/PHP")
						img(src="img/svg/php.svg", style="width: 110px", alt="PHP", title="PHP")
				+e.LI.item
					+e.A.link(href="https://www.photoshop.com")
						img(src="img/svg/photoshop.svg", style="width: 80px", alt="Photoshop", title="Photoshop")
