mixin header()
  +b.HEADER.header
    +e.SPAN.time-text 3 house 2 minutes left before dawn
    +e.DIV.left-block
      +e.DIV.item
        +e.A.send-link(href="#")
          svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='18', height='13', viewbox='0 0 18 13')
            path(d='M17.633,13.000 C17.633,13.000 0.367,13.000 0.367,13.000 C0.164,13.000 -0.000,12.824 -0.000,12.607 C-0.000,12.607 -0.000,0.393 -0.000,0.393 C-0.000,0.176 0.164,-0.000 0.367,-0.000 C0.367,-0.000 17.633,-0.000 17.633,-0.000 C17.835,-0.000 18.000,0.176 18.000,0.393 C18.000,0.393 18.000,12.607 18.000,12.607 C18.000,12.824 17.835,13.000 17.633,13.000 ZM17.265,0.787 C17.265,0.787 0.735,0.787 0.735,0.787 C0.735,0.787 0.735,12.213 0.735,12.213 C0.735,12.213 17.265,12.213 17.265,12.213 C17.265,12.213 17.265,0.787 17.265,0.787 ZM2.222,1.891 C2.222,1.891 9.000,7.236 9.000,7.236 C9.000,7.236 15.777,1.891 15.777,1.891 C15.941,1.762 16.171,1.799 16.291,1.974 C16.411,2.149 16.377,2.396 16.213,2.524 C16.213,2.524 9.218,8.041 9.218,8.041 C9.153,8.092 9.076,8.118 9.000,8.118 C8.923,8.118 8.847,8.092 8.782,8.041 C8.782,8.041 1.787,2.524 1.787,2.524 C1.623,2.396 1.589,2.149 1.709,1.974 C1.829,1.799 2.059,1.762 2.222,1.891 Z', fill-rule='evenodd')
          span send message
      +e.DIV.item
        +e.A.full-scr-btn(href="#")
          svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='17', height='13', viewbox='0 0 17 13')
            path(d='M16.000,13.000 C16.000,13.000 13.000,13.000 13.000,13.000 C13.000,13.000 13.000,12.000 13.000,12.000 C13.000,12.000 16.000,12.000 16.000,12.000 C16.000,12.000 16.000,9.000 16.000,9.000 C16.000,9.000 17.000,9.000 17.000,9.000 C17.000,9.000 17.000,12.000 17.000,12.000 C17.000,12.000 17.000,13.000 17.000,13.000 C17.000,13.000 16.000,13.000 16.000,13.000 ZM16.000,1.000 C16.000,1.000 13.000,1.000 13.000,1.000 C13.000,1.000 13.000,-0.000 13.000,-0.000 C13.000,-0.000 16.000,-0.000 16.000,-0.000 C16.000,-0.000 17.000,-0.000 17.000,-0.000 C17.000,-0.000 17.000,1.000 17.000,1.000 C17.000,1.000 17.000,4.000 17.000,4.000 C17.000,4.000 16.000,4.000 16.000,4.000 C16.000,4.000 16.000,1.000 16.000,1.000 ZM-0.000,13.000 C-0.000,13.000 -0.000,12.000 -0.000,12.000 C-0.000,12.000 -0.000,9.000 -0.000,9.000 C-0.000,9.000 1.000,9.000 1.000,9.000 C1.000,9.000 1.000,12.000 1.000,12.000 C1.000,12.000 4.000,12.000 4.000,12.000 C4.000,12.000 4.000,13.000 4.000,13.000 C4.000,13.000 1.000,13.000 1.000,13.000 C1.000,13.000 -0.000,13.000 -0.000,13.000 ZM1.000,4.000 C1.000,4.000 -0.000,4.000 -0.000,4.000 C-0.000,4.000 -0.000,1.000 -0.000,1.000 C-0.000,1.000 -0.000,-0.000 -0.000,-0.000 C-0.000,-0.000 1.000,-0.000 1.000,-0.000 C1.000,-0.000 4.000,-0.000 4.000,-0.000 C4.000,-0.000 4.000,1.000 4.000,1.000 C4.000,1.000 1.000,1.000 1.000,1.000 C1.000,1.000 1.000,4.000 1.000,4.000 Z', fill-rule='evenodd')
      +e.DIV.item
        +e.SPAN.lang eng
          +e.A.lang-link(href="#") ru






