mixin sidebar()
    +b.DIV.sidebar
        svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='20', height='20', viewbox='0 0 512 512')
            path(d='M377.139 259.492c0 66.637-54.020 120.658-120.658 120.658-66.637 0-120.658-54.021-120.658-120.658 0-66.637 54.020-120.658 120.658-120.658 66.637 0 120.658 54.020 120.658 120.658z', fill='#000000')
            path(d='M228.352 100.669l30.27-77.906 25.979 77.906z', fill='#000000')
            path(d='M228.352 411.341l30.27 77.895 25.979-77.895z', fill='#000000')
            path(d='M100.659 287.601l-77.895-30.29 77.895-25.959z', fill='#000000')
            path(d='M411.361 287.601l77.875-30.29-77.875-25.959z', fill='#000000')
            path(d='M126.597 165.703l-33.659-76.472 73.442 36.7z', fill='#000000')
            path(d='M346.276 385.423l76.524 33.639-36.741-73.442z', fill='#000000')
            path(d='M168.499 388.199l-76.493 33.639 36.72-73.442z', fill='#000000')
            path(d='M388.199 168.499l33.618-76.513-73.4 36.751z', fill='#000000') 

        svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='20', height='20', viewbox='0 0 512 512')
            path(d='M496.118 152.648c4.301 18.023 6.851 36.025 6.851 55.767 0 135.475-110.623 246.119-246.958 246.119-136.356 0-246.978-110.643-246.978-246.119 0-19.743 2.56-38.626 6.851-56.617 24.883 109.773 123.484 191.232 240.128 191.232 116.613 0 215.245-81.459 240.107-190.382z', fill='#000000')
            path(d='M256.010 57.467l23.993 73.749h77.2l-62.618 45.456 24.023 73.758-62.597-45.445-62.597 45.445 24.023-73.758-63.468-45.456h78.029z', fill='#000000')