extends ../template

block variables
    - var title = 'About'

block content

    -
        var headerNav = [
        { "text": "Обо мне", "link": "about.html" },
        { "text": "Контакты", "link": "contacts.html" }
        ]

    +b.HEADER.header.black
        +e.wrp.wrp
            +e.cont
                +e.logo-block
                    +e.A.logo-link(href="/")
                        +e.SPAN.logo-text Ernest Shelyag
                +e.NAV.nav
                    each item in headerNav
                        +e.A.nav-link(href=`${item.link}`)= item.text
                +e.contacts-block
                    +e.UL.list
                        +e.LI.item
                            +e.A.link(href="https://github.com/ernestshelyag" title="Профиль на Github")
                                +icon("github")
                        +e.LI.item
                            +e.A.link.modal-link(href="#skype" title="Мой Skype")
                                +icon("skype")
                        +e.LI.item
                            +e.A.link(href="https://hh.ru/applicant/resumes/view?resume=660e5460ff058384460039ed1f523244563755" title="Резюме на Head Hunter")
                                span.hh hh
                        +e.LI.item
                            +e.A.link.modal-link(href="#mail" title="Почта")
                                +icon("mail")
                        +e.LI.item
                            +e.A.link(href="https://vk.com/eric.shelyag" title="Страница ВКонтакте")
                                +icon("vk")
                        +e.LI.item
                            +e.A.link.modal-link(href="#phone" title="Позвонить")
                                +icon("phone")

    +b.MAIN.about.main
        +e.wrp.wrp
            +e.H1.title.h1 Обо мне
            +e.P.text Я не умею красиво писать тексты. Дизайнер изменя тоже так себе (что видно по моему сайту-портфолио). Зато я хороший верстальщик, имею хороший вкус, если дело касается добавления анимаций в уже имеющийся дизайн. Большой опыт позволяет мне достаточно быстро версать сайты почти любой сложности. Знаю тонкости кроссбраузерной верстки, хорошо справляюсь с адаптивом без макета (на свое усмотрение). Знаю тонкости верстки сайтов, которые будут в дальнейшем "натягиваться" на различные CMS. Имею хорошее представление о том что такое CEO и как не допускать ошибок в этих моментах. Всегда проверяю свою верстку на валидность по стандартам W3C.
            +e.P.text В основном я делаю сайты на jQuery по psd макетам. Использую в качестве помощника Zeplin. За долгое время я разработал свой собственный Gulp шаблон, которым постоянно пользуюсь и который постоянно улучшаю из проекта в проект.
            +e.P.text Имею опыт создания SPA на Vue.js и React, но к сожалению пока это только тестовые проекты. Реальных пока не было, но, конечно, хотелось бы иметь такую возможность. Больше склоняюсь к Vue.js.
            +e.P.text Также имею реальный опыт создания различных 3D анимаций для сайтов с испоьзованием three.js. 3D анимация мне очень интересна, но к сожалению она не так востребована и может отнимать много времени что часто пугает заказчиков. Все это очень специфично, но тем не менее я для себя в качестве хобби создаю 3D модели в программе Вlender. Возможно когда-нибудь мне это пригодиться.
            +e.P.text Недавно закончил курсы "Серверный Node.js" - написание бекенда на Java Script. Сейчас я понимаю что не хотел бы сильно углубляться в бекенд, но для общего развития это было очень позновательно. Стали ясными многие моменты, которых раньше не понимал.
            +e.P.text Долгое время я жил и работал в Питере. Там получил хороший опыт, работая в разных IT компаниях. В данный момент по семейным обстоятельствам живу в Мурманске, занимаюсь фрилансом, но меня больше интересует стабильная, постоянная работа удаленно.


    include ../../components/footer/footer
